h2 {
    font-family: akzidenz-grotesk_pro_medium;
    font-size: 2em;
    text-align: center;
}

h3 {
    font-family: akzidenz-grotesk_pro_light;
    text-align: center;
    font-size: 0.8em;
}

p {
    font-family: akzidenz-grotesk_pro_light;
    text-align: center;
    font-size: 0.7em;
}