h1,
h2,
h3,
p {
    /*
    color: white;
    */
    color:#333333;
}

h2 {
    font-family: akzidenz-grotesk_pro_medium;
    font-size: 2em;
    text-align: center;
}

h3 {
    font-family: akzidenz-grotesk_pro_light;
    text-align: center;
    font-size: 0.8em;
}

p {
    font-family: akzidenz-grotesk_pro_light;
    text-align: center;
    font-size: 0.7em;
}

body {
    /*
 background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
*/
}
